@using Microsoft.Extensions.Localization
@using MudBlazor
@inject IStringLocalizer<App> Localizer

<MudContainer id="features" MaxWidth="MaxWidth.Large" Class="text-center py-8">
    <MudText Typo="Typo.h3" GutterBottom Class="mb-4">
        @Localizer["Features_Title"]
    </MudText>
    <MudText Typo="Typo.body1" Class="mb-6">
        @Localizer["Features_Description"]
    </MudText>

    <MudGrid Spacing="4">
        <MudItem xs="12" md="6" Class="h-25">
            <MudPaper Class="p-4" Elevation="3">
                <MudText Typo="Typo.h5" GutterBottom>@Localizer["Prerequisite_Title"]</MudText>
                <MudText Typo="Typo.body2">
                    @Localizer["Prerequisite_Description"]
                    <ul>
                        <li>@Localizer["Prerequisite_Option1"]</li>
                        <li>@Localizer["Prerequisite_Option2"]</li>
                        <li>@Localizer["Prerequisite_Option3"]</li>
                    </ul>
                </MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" md="6" Class="h-25">
            <MudPaper Class="p-4" Elevation="3">
                <MudText Typo="Typo.h5" GutterBottom>@Localizer["VocabularyDeck_Title"]</MudText>
                <MudText Typo="Typo.body2">
                    @Localizer["VocabularyDeck_Description"]
                    <ul>
                        <li>@Localizer["VocabularyDeck_Option1"]</li>
                        <li>@Localizer["VocabularyDeck_Option2"]</li>
                        <li>@Localizer["VocabularyDeck_Option3"]</li>
                    </ul>
                </MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" md="12" Class="h-25">
            <MudPaper Class="p-4" Elevation="3">
                <MudText Typo="Typo.h5" GutterBottom>@Localizer["VocabularyPractice_Title"]</MudText>
                <MudText Typo="Typo.body2">
                    @Localizer["VocabularyPractice_Description"]
                    <ul>
                        <li>@Localizer["VocabularyPractice_Option1"]</li>
                        <li>@Localizer["VocabularyPractice_Option2"]</li>
                        <li>@Localizer["VocabularyPractice_Option3"]</li>
                    </ul>
                </MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
