@using Microsoft.Extensions.Localization
@using MudBlazor
@inject IStringLocalizer<ResetPasswordForm> Localizer
<MudGrid Class="d-flex justify-center align-center mt-20">
    <MudItem xs="12" sm="8" md="4">
        <MudCard>
            <MudCardHeader>
                <MudText Class="w-100" Typo="Typo.h4" Align="Align.Center">@Localizer["Header"]</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.body1">@Localizer["Prompt"]</MudText>
            </MudCardContent>
            <MudCardContent>
                <MudForm @ref="_form" Model="_request">
                    <MudTextField
                        Required="true"
                        Label="@Localizer["New_Password_Label"]"
                        For="() => _request.NewPassword"
                        @bind-Value="_request.NewPassword"></MudTextField>
                    <MudTextField
                        Required="true"
                        Label="@Localizer["New_Password_Confirm_Label"]"
                        For="() => _request.NewPasswordConfirm"
                        @bind-Value="_request.NewPasswordConfirm"></MudTextField>
                </MudForm>
            </MudCardContent>
            <MudCardActions>
                <div Class="d-flex gap-1 ml-auto">
                    <MudButton Class="w-auto" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async () => await Submit())">
                        @Localizer["Submit"]
                    </MudButton>
                </div>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
