@using Microsoft.Extensions.Localization
@using MudBlazor
@inject IStringLocalizer<LoginForm> Localizer
<MudGrid Class="d-flex justify-center align-center mt-20">
    <MudItem xs="12" sm="8" md="4">
        <MudCard>
            <MudCardHeader>
                <MudText Typo="Typo.h4" Align="Align.Center">@Localizer["Header"]</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudForm @ref="_form" Model="_loginRequest">
                    <MudTextField
                        Required="true"
                        Label="@Localizer["Email_Label"]"
                        For="() => _loginRequest.Email"
                        @bind-Value="_loginRequest.Email"></MudTextField>
                    <MudTextField
                        Required="true"
                        InputType="InputType.Password"
                        Label="@Localizer["Password_Label"]"
                        For="() => _loginRequest.Password"
                        @bind-Value="_loginRequest.Password"></MudTextField>
                </MudForm>
            </MudCardContent>
            <MudCardContent Class="d-flex justify-center align-end flex-column">
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/register">@Localizer["DontHaveAnAccountPrompt"]
                </MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/forgot-password">@Localizer["Forgot_Password_Prompt"]
                </MudButton>
            </MudCardContent>
            <MudCardActions>
                <div Class="d-flex gap-1 ml-auto">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/">@Localizer["CancelButton"]</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async () => await Submit())">
                        @Localizer["LoginButton"]
                    </MudButton>
                </div>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
<MudOverlay Visible="_overlayVisible" DarkBackground="true">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>
