@using MudBlazor
<MudText Typo="Typo.h6">@Localizer["Password_Change"]</MudText>
<div class="flex gap-1">
    <MudForm @ref="_form" Model="_request">
        <MudTextField
            InputType="InputType.Password"
            Required="true"
            Label="@Localizer["Old_Password"]"
            For="() => _request.OldPassword"
            @bind-Value="_request.OldPassword"></MudTextField>
        <MudTextField
            InputType="InputType.Password"
            Required="true"
            Label="@Localizer["Old_Password_Confirm"]"
            For="() => _request.OldPasswordConfirm"
            @bind-Value="_request.OldPasswordConfirm"></MudTextField>
        <MudTextField
            InputType="InputType.Password"
            Required="true"
            Label="@Localizer["New_Password"]"
            For="() => _request.NewPassword"
            @bind-Value="_request.NewPassword"></MudTextField>
        <MudButton Color="Color.Primary" Class="w-25 mt-3 mb-3" Variant="Variant.Filled"
                   OnClick="ChangePasswordAsync">@Localizer["Reset_Password"]</MudButton>
    </MudForm>
</div>
<MudOverlay Visible="_overlayVisible" DarkBackground="true">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>
