@using Microsoft.Extensions.Localization
@using MudBlazor
@inject IStringLocalizer<ForgotPasswordForm> Localizer
<MudGrid Class="d-flex justify-center align-center mt-20">
    <MudItem xs="12" sm="8" md="4">
        <MudCard>
            <MudCardHeader>
                <MudText Class="w-100" Typo="Typo.h4" Align="Align.Center">@Localizer["Header"]</MudText>
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.body1">@Localizer["Prompt"]</MudText>
            </MudCardContent>
            <MudCardContent>
                <MudForm @ref="_form" Model="_forgotPasswordRequest">
                    <MudTextField
                        Required="true"
                        Label="@Localizer["Email_Label"]"
                        For="() => _forgotPasswordRequest.Email"
                        @bind-Value="_forgotPasswordRequest.Email"></MudTextField>
                </MudForm>
            </MudCardContent>
            <MudCardActions>
                <div Class="d-flex gap-1 ml-auto">
                    <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Secondary" Href="/">@Localizer["CancelButton"]</MudButton>
                    <MudButton Class="w-auto" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async () => await Submit())">
                        @Localizer["Forgot_Password_Button"]
                    </MudButton>
                </div>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
